---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hora del equipo">
  <main class="min-h-screen container m-auto p-5">
    <h1 class="font-bold text-5xl text-white">Horarios de esclavos</h1>
    <p class="text-biloba-flower-500 mt-2 font-light">
      El timezone del navegador esta en <span
        class="font-bold"
        id="timezonelocal"></span>
    </p>
    <ul id="team" class="bg-biloba-flower-800/20 p-3 rounded-md mt-5"></ul>
  </main>
</Layout>

<script>
	const team = [
	  {
		name: "Kamerr Ezz",
		timezone: "America/Cancun",
	  },
	  {
		name: "Hakos",
		timezone: "Europe/Madrid",
	  },
	  {
		name: "Dei",
		timezone: "America/Santiago",
	  },
	  {
		name: "Thunder",
		timezone: "America/Lima",
	  },
	  {
		name: "Oscar",
		timezone: "America/Costa_Rica",
	  },
	  {
		name: "Jerry",
		timezone: "America/Bogota",
	  },
	];
  
	const timezonelocalSpan = document.getElementById("timezonelocal") as any;
	const $team = document.getElementById("team") as any;
  
	const updateTime = () => {
	  const timezonelocal = Intl.DateTimeFormat().resolvedOptions().timeZone;
	  timezonelocalSpan.innerText = timezonelocal;
  
	  let list = "";
	  team.forEach((r) => {
		list += `<li class="text-white my-3 p-1 rounded-md bg-biloba-flower-800/50">${
		  r.name
		}: <span class='font-bold px-2'>${ConvertTimeZone(r.timezone)}</span></li>`;
	  });
  
	  $team.innerHTML = list;
	};
  
	const ConvertTimeZone = (timezoneToConvert: string) => {
	  const horaEnDestino = new Date().toLocaleString("en-US", {
		timeZone: timezoneToConvert,
		hour12: false,
		hour: "numeric",
		minute: "numeric",
		second: "numeric",
	  });
  
	  return horaEnDestino;
	};
  
	// Actualizar la hora cada segundo (1000 milisegundos)
	setInterval(updateTime, 1000);
  
	// Llamada inicial para mostrar la hora al cargar la página
	updateTime();
  </script>
